<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}" media="screen">
</head>
<body>
    <div class="container" >
        <div class="topCornerContainer">
            <img src="/static/img/ComLogo.png" height="100%" width="100%" >
        </div>
    <div class="topContainer">
        <div class="topMiddle"> 
            <h1>OpenAPI Spezifikation Generator</h1>
        </div>
    </div>
    <div class="mainContainer">
       <div class="topIMGcontainer">
	       <div class="topIMG">
		       <button type="button" class="button"> <a href="/submit/job"/>Generate OpenAPI Specification</button>
	       </div>
       </div>
    </div>
    </div>
</body>
</html>
